# Gradle / builds
.gradle/
**/build/
**/out/
local.properties
/build

# Android Studio
*.iml
.cxx/
.externalNativeBuild/
captures/
.navigation/

# IDEA project files (оставим только полезное)
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/

# Logs / dumps
*.log
*.hprof
*.heap
*.hprof.heap

# Keystores & secrets
*.jks
*.keystore
keystore.properties
app/google-services.json

# OS junk
.DS_Store
Thumbs.db
